body {
    font-family: 'UD Digi Kyokasho N-R', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-column {
    flex: 1;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 25%;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100%;
}

.right-column {
    flex: 3;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}


#menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
}

#menu button {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 0;
}

#menu button:hover {
    background-color: #45a049;
}

#quiz {
    display: none;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#quiz h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#quiz p {
    font-size: 18px;
    margin-bottom: 10px;
}

#quiz input {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#quiz button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#quiz button:hover {
    background-color: #45a049;
}
#quiz #result {
    font-size: 32px;
    font-weight: bold;
    color: #ff0000;
    margin-top: 20px;
    animation: pulse 1s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.congrats-message {
    font-size: 32px;
    font-weight: bold;
    color: #ff0000;
    margin-top: 20px;
    animation: pulse 1s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
